# SQL Agent: Natural Language to SQL Query Generator

This notebook will teach you step-by-step how to build a robust SQL agent that converts natural language queries into PostgreSQL queries.

## What We'll Build:
1. **Database Connection Setup** - Connect to PostgreSQL database
2. **Schema Discovery** - Automatically discover and understand database structure
3. **Query Context Builder** - Create context for better query generation
4. **AI-Powered SQL Generation** - Use LLM to convert natural language to SQL
5. **Query Validation** - Validate and optimize generated queries
6. **Interactive Interface** - Create a user-friendly interface

## Database Information:
- **Hostname**: hh-pgsql-public.ebi.ac.uk
- **Port**: 5432
- **Database**: pfmegrnargs
- **User**: reader
- **Password**: NWDMCE5xdipIjRrp

## Step 1: Install Required Dependencies

First, let's install all the necessary packages for our SQL agent.

In [1]:
# Install required packages
%pip install psycopg2-binary pandas sqlalchemy openai anthropic python-dotenv langchain langchain-openai langchain-anthropic

# Alternative installations if needed
# %pip install psycopg2  # for Windows
%pip install ipywidgets  # For interactive widgets

Requirement already satisfied: psycopg2-binary in /Users/rajeshthakur/miniconda3/envs/bia_genai/lib/python3.11/site-packages (2.9.10)
Requirement already satisfied: pandas in /Users/rajeshthakur/miniconda3/envs/bia_genai/lib/python3.11/site-packages (2.2.3)
Requirement already satisfied: sqlalchemy in /Users/rajeshthakur/miniconda3/envs/bia_genai/lib/python3.11/site-packages (2.0.41)
Requirement already satisfied: openai in /Users/rajeshthakur/miniconda3/envs/bia_genai/lib/python3.11/site-packages (1.82.1)
Requirement already satisfied: anthropic in /Users/rajeshthakur/miniconda3/envs/bia_genai/lib/python3.11/site-packages (0.54.0)
Requirement already satisfied: python-dotenv in /Users/rajeshthakur/miniconda3/envs/bia_genai/lib/python3.11/site-packages (1.1.0)
Requirement already satisfied: langchain in /Users/rajeshthakur/miniconda3/envs/bia_genai/lib/python3.11/site-packages (0.3.25)
Requirement already satisfied: langchain-openai in /Users/rajeshthakur/miniconda3/envs/bia_genai/lib/python3.11/site-packages (0.3.18)
Requirement already satisfied: langchain-anthropic in /Users/rajeshthakur/miniconda3/envs/bia_genai/lib/python3.11/site-packages (0.3.15)
Requirement already satisfied: numpy>=1.23.2 in /Users/rajeshthakur/miniconda3/envs/bia_genai/lib/python3.11/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/rajeshthakur/miniconda3/envs/bia_genai/lib/python3.11/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/rajeshthakur/miniconda3/envs/bia_genai/lib/python3.11/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/rajeshthakur/miniconda3/envs/bia_genai/lib/python3.11/site-packages (from pandas) (2025.2)
Requirement already satisfied: typing-extensions>=4.6.0 in /Users/rajeshthakur/miniconda3/envs/bia_genai/lib/python3.11/site-packages (from sqlalchemy) (4.13.2)
Requirement already satisfied: anyio<5,>=3.5.0 in /Users/rajeshthakur/miniconda3/envs/bia_genai/lib/python3.11/site-packages (from openai) (4.9.0)
Requirement already satisfied: distro<2,>=1.7.0 in /Users/rajeshthakur/miniconda3/envs/bia_genai/lib/python3.11/site-packages (from openai) (1.9.0)
Requirement already satisfied: httpx<1,>=0.23.0 in /Users/rajeshthakur/miniconda3/envs/bia_genai/lib/python3.11/site-packages (from openai) (0.28.1)
Requirement already satisfied: jiter<1,>=0.4.0 in /Users/rajeshthakur/miniconda3/envs/bia_genai/lib/python3.11/site-packages (from openai) (0.10.0)
Requirement already satisfied: pydantic<3,>=1.9.0 in /Users/rajeshthakur/miniconda3/envs/bia_genai/lib/python3.11/site-packages (from openai) (2.11.4)
Requirement already satisfied: sniffio in /Users/rajeshthakur/miniconda3/envs/bia_genai/lib/python3.11/site-packages (from openai) (1.3.1)
Requirement already satisfied: tqdm>4 in /Users/rajeshthakur/miniconda3/envs/bia_genai/lib/python3.11/site-packages (from openai) (4.67.1)
Requirement already satisfied: idna>=2.8 in /Users/rajeshthakur/miniconda3/envs/bia_genai/lib/python3.11/site-packages (from anyio<5,>=3.5.0->openai) (3.10)
Requirement already satisfied: certifi in /Users/rajeshthakur/miniconda3/envs/bia_genai/lib/python3.11/site-packages (from httpx<1,>=0.23.0->openai) (2025.4.26)
Requirement already satisfied: httpcore==1.* in /Users/rajeshthakur/miniconda3/envs/bia_genai/lib/python3.11/site-packages (from httpx<1,>=0.23.0->openai) (1.0.9)
Requirement already satisfied: h11>=0.16 in /Users/rajeshthakur/miniconda3/envs/bia_genai/lib/python3.11/site-packages (from httpcore==1.*->httpx<1,>=0.23.0->openai) (0.16.0)
Requirement already satisfied: annotated-types>=0.6.0 in /Users/rajeshthakur/miniconda3/envs/bia_genai/lib/python3.11/site-packages (from pydantic<3,>=1.9.0->openai) (0.7.0)
Requirement already satisfied: pydantic-core==2.33.2 in /Users/rajeshthakur/miniconda3/envs/bia_genai/lib/python3.11/site-packages (from pydantic<3,>=1.9.0->openai) (2.33.2)
Requirement already satisfied: typing-inspection>=0.4.0 in /Users/rajeshthakur/miniconda3/envs/bia_genai/lib/python3.11/site-packages (from pydantic<3,>=1.9.0->openai) (0.4.0)
Requirement already satisfied: langchain-core<1.0.0,>=0.3.58 in /Users/rajeshthakur/miniconda3/envs/bia_genai/lib/python3.11/site-packages (from langchain) (0.3.63)
Requirement already satisfied: langchain-text-splitters<1.0.0,>=0.3.8 in /Users/rajeshthakur/miniconda3/envs/bia_genai/lib/python3.11/site-packages (from langchain) (0.3.8)
Requirement already satisfied: langsmith<0.4,>=0.1.17 in /Users/rajeshthakur/miniconda3/envs/bia_genai/lib/python3.11/site-packages (from langchain) (0.3.43)
Requirement already satisfied: requests<3,>=2 in /Users/rajeshthakur/miniconda3/envs/bia_genai/lib/python3.11/site-packages (from langchain) (2.32.3)
Requirement already satisfied: PyYAML>=5.3 in /Users/rajeshthakur/miniconda3/envs/bia_genai/lib/python3.11/site-packages (from langchain) (6.0.2)
Requirement already satisfied: tenacity!=8.4.0,<10.0.0,>=8.1.0 in /Users/rajeshthakur/miniconda3/envs/bia_genai/lib/python3.11/site-packages (from langchain-core<1.0.0,>=0.3.58->langchain) (9.1.2)
Requirement already satisfied: jsonpatch<2.0,>=1.33 in /Users/rajeshthakur/miniconda3/envs/bia_genai/lib/python3.11/site-packages (from langchain-core<1.0.0,>=0.3.58->langchain) (1.33)
Requirement already satisfied: packaging<25,>=23.2 in /Users/rajeshthakur/miniconda3/envs/bia_genai/lib/python3.11/site-packages (from langchain-core<1.0.0,>=0.3.58->langchain) (24.2)
Requirement already satisfied: jsonpointer>=1.9 in /Users/rajeshthakur/miniconda3/envs/bia_genai/lib/python3.11/site-packages (from jsonpatch<2.0,>=1.33->langchain-core<1.0.0,>=0.3.58->langchain) (3.0.0)
Requirement already satisfied: orjson<4.0.0,>=3.9.14 in /Users/rajeshthakur/miniconda3/envs/bia_genai/lib/python3.11/site-packages (from langsmith<0.4,>=0.1.17->langchain) (3.10.18)
Requirement already satisfied: requests-toolbelt<2.0.0,>=1.0.0 in /Users/rajeshthakur/miniconda3/envs/bia_genai/lib/python3.11/site-packages (from langsmith<0.4,>=0.1.17->langchain) (1.0.0)
Requirement already satisfied: zstandard<0.24.0,>=0.23.0 in /Users/rajeshthakur/miniconda3/envs/bia_genai/lib/python3.11/site-packages (from langsmith<0.4,>=0.1.17->langchain) (0.23.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/rajeshthakur/miniconda3/envs/bia_genai/lib/python3.11/site-packages (from requests<3,>=2->langchain) (3.4.2)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/rajeshthakur/miniconda3/envs/bia_genai/lib/python3.11/site-packages (from requests<3,>=2->langchain) (2.4.0)
Requirement already satisfied: tiktoken<1,>=0.7 in /Users/rajeshthakur/miniconda3/envs/bia_genai/lib/python3.11/site-packages (from langchain-openai) (0.9.0)
Requirement already satisfied: regex>=2022.1.18 in /Users/rajeshthakur/miniconda3/envs/bia_genai/lib/python3.11/site-packages (from tiktoken<1,>=0.7->langchain-openai) (2024.11.6)
Requirement already satisfied: six>=1.5 in /Users/rajeshthakur/miniconda3/envs/bia_genai/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: ipywidgets in /Users/rajeshthakur/miniconda3/envs/bia_genai/lib/python3.11/site-packages (8.1.7)
Requirement already satisfied: comm>=0.1.3 in /Users/rajeshthakur/miniconda3/envs/bia_genai/lib/python3.11/site-packages (from ipywidgets) (0.2.2)
Requirement already satisfied: ipython>=6.1.0 in /Users/rajeshthakur/miniconda3/envs/bia_genai/lib/python3.11/site-packages (from ipywidgets) (9.2.0)
Requirement already satisfied: traitlets>=4.3.1 in /Users/rajeshthakur/miniconda3/envs/bia_genai/lib/python3.11/site-packages (from ipywidgets) (5.14.3)
Requirement already satisfied: widgetsnbextension~=4.0.14 in /Users/rajeshthakur/miniconda3/envs/bia_genai/lib/python3.11/site-packages (from ipywidgets) (4.0.14)
Requirement already satisfied: jupyterlab_widgets~=3.0.15 in /Users/rajeshthakur/miniconda3/envs/bia_genai/lib/python3.11/site-packages (from ipywidgets) (3.0.15)
Requirement already satisfied: decorator in /Users/rajeshthakur/miniconda3/envs/bia_genai/lib/python3.11/site-packages (from ipython>=6.1.0->ipywidgets) (5.2.1)
Requirement already satisfied: ipython-pygments-lexers in /Users/rajeshthakur/miniconda3/envs/bia_genai/lib/python3.11/site-packages (from ipython>=6.1.0->ipywidgets) (1.1.1)
Requirement already satisfied: jedi>=0.16 in /Users/rajeshthakur/miniconda3/envs/bia_genai/lib/python3.11/site-packages (from ipython>=6.1.0->ipywidgets) (0.19.2)
Requirement already satisfied: matplotlib-inline in /Users/rajeshthakur/miniconda3/envs/bia_genai/lib/python3.11/site-packages (from ipython>=6.1.0->ipywidgets) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /Users/rajeshthakur/miniconda3/envs/bia_genai/lib/python3.11/site-packages (from ipython>=6.1.0->ipywidgets) (4.9.0)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in /Users/rajeshthakur/miniconda3/envs/bia_genai/lib/python3.11/site-packages (from ipython>=6.1.0->ipywidgets) (3.0.51)
Requirement already satisfied: pygments>=2.4.0 in /Users/rajeshthakur/miniconda3/envs/bia_genai/lib/python3.11/site-packages (from ipython>=6.1.0->ipywidgets) (2.19.1)
Requirement already satisfied: stack_data in /Users/rajeshthakur/miniconda3/envs/bia_genai/lib/python3.11/site-packages (from ipython>=6.1.0->ipywidgets) (0.6.3)
Requirement already satisfied: typing_extensions>=4.6 in /Users/rajeshthakur/miniconda3/envs/bia_genai/lib/python3.11/site-packages (from ipython>=6.1.0->ipywidgets) (4.13.2)
Requirement already satisfied: wcwidth in /Users/rajeshthakur/miniconda3/envs/bia_genai/lib/python3.11/site-packages (from prompt_toolkit<3.1.0,>=3.0.41->ipython>=6.1.0->ipywidgets) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /Users/rajeshthakur/miniconda3/envs/bia_genai/lib/python3.11/site-packages (from jedi>=0.16->ipython>=6.1.0->ipywidgets) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /Users/rajeshthakur/miniconda3/envs/bia_genai/lib/python3.11/site-packages (from pexpect>4.3->ipython>=6.1.0->ipywidgets) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /Users/rajeshthakur/miniconda3/envs/bia_genai/lib/python3.11/site-packages (from stack_data->ipython>=6.1.0->ipywidgets) (2.2.0)
Requirement already satisfied: asttokens>=2.1.0 in /Users/rajeshthakur/miniconda3/envs/bia_genai/lib/python3.11/site-packages (from stack_data->ipython>=6.1.0->ipywidgets) (3.0.0)
Requirement already satisfied: pure-eval in /Users/rajeshthakur/miniconda3/envs/bia_genai/lib/python3.11/site-packages (from stack_data->ipython>=6.1.0->ipywidgets) (0.2.3)
Note: you may need to restart the kernel to use updated packages.

In [2]:
2+2

4

In [3]:
# Core libraries
import os
import re
import json
from typing import List, Dict, Any, Optional
import warnings
warnings.filterwarnings('ignore')

# Database libraries
import psycopg2
from psycopg2.extras import RealDictCursor
import pandas as pd
from sqlalchemy import create_engine, text, inspect

# AI libraries
import openai
from langchain.schema import HumanMessage, SystemMessage
from langchain_openai import ChatOpenAI
from langchain_anthropic import ChatAnthropic

# Utility libraries
from datetime import datetime
import time

print("‚úÖ All libraries imported successfully!")

‚úÖ All libraries imported successfully!

In [4]:
class PostgreSQLConnection:
    """
    A robust PostgreSQL connection handler with error handling and connection management.
    """
    
    def __init__(self, host, port, database, user, password):
        self.host = host
        self.port = port
        self.database = database
        self.user = user
        self.password = password
        self.connection = None
        self.engine = None
        
    def connect(self):
        """Establish connection to PostgreSQL database"""
        try:
            # Create connection string
            connection_string = f"postgresql://{self.user}:{self.password}@{self.host}:{self.port}/{self.database}"
            
            # Create SQLAlchemy engine
            self.engine = create_engine(connection_string)
            
            # Test connection
            with self.engine.connect() as conn:
                result = conn.execute(text("SELECT version()"))
                version = result.fetchone()[0]
                print(f"‚úÖ Connected to PostgreSQL!")
                print(f"üìä Database: {self.database}")
                print(f"üîß Version: {version[:50]}...")
                
            return True
            
        except Exception as e:
            print(f"‚ùå Connection failed: {str(e)}")
            return False
    
    def execute_query(self, query, return_df=True):
        """Execute a SQL query and return results"""
        try:
            if return_df:
                df = pd.read_sql_query(query, self.engine)
                return df
            else:
                with self.engine.connect() as conn:
                    result = conn.execute(text(query))
                    return result.fetchall()
                    
        except Exception as e:
            print(f"‚ùå Query execution failed: {str(e)}")
            return None
    
    def get_table_info(self):
        """Get information about all tables in the database"""
        try:
            inspector = inspect(self.engine)
            tables_info = {}
            
            for table_name in inspector.get_table_names():
                columns = inspector.get_columns(table_name)
                tables_info[table_name] = {
                    'columns': [col['name'] for col in columns],
                    'column_details': columns
                }
                
            return tables_info
            
        except Exception as e:
            print(f"‚ùå Failed to get table info: {str(e)}")
            return None

# Initialize database connection
DB_CONFIG = {
    'host': '54.251.218.166',
    'port': 5432,
    'database': 'dummy',
    'user': 'rajesh',
    'password': 'rajesh123'
}

# Create database connection
db = PostgreSQLConnection(**DB_CONFIG)
connection_success = db.connect()

‚úÖ Connected to PostgreSQL!
üìä Database: dummy
üîß Version: PostgreSQL 15.13 (Debian 15.13-1.pgdg120+1) on x86...

In [5]:
db.execute_query("select * from actor a;")

     actor_id first_name     last_name             last_update
0           1   Penelope       Guiness 2013-05-26 14:47:57.620
1           2       Nick      Wahlberg 2013-05-26 14:47:57.620
2           3         Ed         Chase 2013-05-26 14:47:57.620
3           4   Jennifer         Davis 2013-05-26 14:47:57.620
4           5     Johnny  Lollobrigida 2013-05-26 14:47:57.620
..        ...        ...           ...                     ...
195       196       Bela        Walken 2013-05-26 14:47:57.620
196       197      Reese          West 2013-05-26 14:47:57.620
197       198       Mary        Keitel 2013-05-26 14:47:57.620
198       199      Julia       Fawcett 2013-05-26 14:47:57.620
199       200      Thora        Temple 2013-05-26 14:47:57.620

[200 rows x 4 columns]

In [6]:
if connection_success:
     tables_query = """
    SELECT 
        table_name,
        table_schema,
        table_type
    FROM information_schema.tables 
    WHERE table_schema = 'public'
    ORDER BY table_name;
    """
     tables_df = db.execute_query(tables_query)
     print("Abailable Tablees")
     print("="*50)
     for idx, row in tables_df.iterrows():
        print(f"  {idx+1}. {row['table_name']} ({row['table_type']})")
     print(f"\nüî¢ Total tables found: {len(tables_df)}")


else:
     print("trouble to connect with database")

Abailable Tablees
==================================================
  1. actor (BASE TABLE)
  2. actor_info (VIEW)
  3. address (BASE TABLE)
  4. category (BASE TABLE)
  5. city (BASE TABLE)
  6. country (BASE TABLE)
  7. customer (BASE TABLE)
  8. customer_list (VIEW)
  9. film (BASE TABLE)
  10. film_actor (BASE TABLE)
  11. film_category (BASE TABLE)
  12. film_list (VIEW)
  13. inventory (BASE TABLE)
  14. language (BASE TABLE)
  15. nicer_but_slower_film_list (VIEW)
  16. payment (BASE TABLE)
  17. rental (BASE TABLE)
  18. sales_by_film_category (VIEW)
  19. sales_by_store (VIEW)
  20. staff (BASE TABLE)
  21. staff_list (VIEW)
  22. store (BASE TABLE)

üî¢ Total tables found: 22

In [7]:
def explore_table_structure(table_name, limit=5):
    columns_query = f"""
    SELECT 
        column_name,
        data_type,
        is_nullable,
        column_default
    FROM information_schema.columns 
    WHERE table_name = '{table_name}'
    ORDER BY ordinal_position;
    """
    columns_df = db.execute_query(columns_query)
    print(f"üîç Table: {table_name}")
    print("=" * 60)
    print("üìä Column Structure:")
    for idx, row in columns_df.iterrows():
        nullable = "NULL" if row['is_nullable'] == 'YES' else "NOT NULL"
        default = f" DEFAULT {row['column_default']}" if row['column_default'] else ""
        print(f"  ‚Ä¢ {row['column_name']}: {row['data_type']} ({nullable}){default}")
    # Get sample data
    sample_query = f"SELECT * FROM {table_name} LIMIT {limit};"
    sample_df = db.execute_query(sample_query)
    
    print(f"\nüìù Sample Data (first {limit} rows):")
    if sample_df is not None and not sample_df.empty:
        print(sample_df.to_string())
    else:
        print("  No data found or query failed")
    
    print("\n" + "=" * 60)
    return columns_df, sample_df


if connection_success and not tables_df.empty:
    # Take first few tables to explore
    tables_to_explore = tables_df['table_name'].head(3).tolist()
    
    for table in tables_to_explore:
        try:
            explore_table_structure(table)
            print()
        except Exception as e:
            print(f"‚ùå Error exploring {table}: {str(e)}")
            print()

üîç Table: actor
============================================================
üìä Column Structure:
  ‚Ä¢ actor_id: integer (NOT NULL) DEFAULT nextval('actor_actor_id_seq'::regclass)
  ‚Ä¢ first_name: character varying (NOT NULL)
  ‚Ä¢ last_name: character varying (NOT NULL)
  ‚Ä¢ last_update: timestamp without time zone (NOT NULL) DEFAULT now()

üìù Sample Data (first 5 rows):
   actor_id first_name     last_name             last_update
0         1   Penelope       Guiness 2013-05-26 14:47:57.620
1         2       Nick      Wahlberg 2013-05-26 14:47:57.620
2         3         Ed         Chase 2013-05-26 14:47:57.620
3         4   Jennifer         Davis 2013-05-26 14:47:57.620
4         5     Johnny  Lollobrigida 2013-05-26 14:47:57.620

============================================================

üîç Table: actor_info
============================================================
üìä Column Structure:
  ‚Ä¢ actor_id: integer (NULL)
  ‚Ä¢ first_name: character varying (NULL)
  ‚Ä¢ last_name: character varying (NULL)
  ‚Ä¢ film_info: text (NULL)

üìù Sample Data (first 5 rows):
   actor_id first_name     last_name                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               film_info
0         1   Penelope       Guiness                                                                                                                                                              Animation: Anaconda Confessions, Children: Language Cowboy, Classics: Color Philadelphia, Westward Seabiscuit, Comedy: Vertigo Northwest, Documentary: Academy Dinosaur, Family: King Evolution, Splash Gump, Foreign: Mulholland Beast, Games: Bulworth Commandments, Human Graffiti, Horror: Elephant Trojan, Lady Stage, Rules Human, Music: Wizard Coldblooded, New: Angels Life, Oklahoma Jumanji, Sci-Fi: Cheaper Clyde, Sports: Gleaming Jawbreaker
1         2       Nick      Wahlberg                                                                                      Action: Bull Shawshank, Animation: Fight Jawbreaker, Children: Jersey Sassy, Classics: Dracula Crystal, Gilbert Pelican, Comedy: Mallrats United, Rushmore Mermaid, Documentary: Adaptation Holes, Drama: Wardrobe Phantom, Family: Apache Divine, Chisum Behavior, Indian Love, Maguire Apache, Foreign: Baby Hall, Happiness United, Games: Roof Champion, Music: Lucky Flying, New: Destiny Saturday, Flash Wars, Jekyll Frogmen, Mask Peach, Sci-Fi: Chainsaw Uptown, Goodfellas Salute, Travel: Liaisons Sweet, Smile Earring
2         3         Ed         Chase                                                                                                                                                                         Action: Caddyshack Jedi, Forrest Sons, Classics: Frost Head, Jeepers Wedding, Documentary: Army Flintstones, French Holiday, Halloween Nuts, Hunter Alter, Wedding Apollo, Young Language, Drama: Luck Opus, Necklace Outbreak, Spice Sorority, Foreign: Cowboy Doom, Whale Bikini, Music: Alone Trip, New: Eve Resurrection, Platoon Instinct, Sci-Fi: Weekend Personal, Sports: Artist Coldblooded, Image Princess, Travel: Boondock Ballroom
3         4   Jennifer         Davis                                                                                                                                       Action: Barefoot Manchurian, Animation: Anaconda Confessions, Ghostbusters Elf, Comedy: Submarine Bed, Documentary: Bed Highball, National Story, Raiders Antitrust, Drama: Blade Polish, Greedy Roots, Family: Splash Gump, Horror: Treasure Command, Music: Hanover Galaxy, Reds Pocus, New: Angels Life, Jumanji Blade, Oklahoma Jumanji, Sci-Fi: Random Go, Silverado Goldfinger, Unforgiven Zoolander, Sports: Instinct Airport, Poseidon Forever, Travel: Boondock Ballroom
4         5     Johnny  Lollobrigida  Action: Amadeus Holy, Grail Frankenstein, Rings Heartbreakers, Animation: Sunrise League, Children: Hall Cassidy, Comedy: Daddy Pittsburgh, Documentary: Bonnie Holocaust, Metal Armageddon, Pacific Amistad, Pocus Pulp, Drama: Chitty Lock, Coneheads Smoochy, Games: Fire Wolves, Horror: Commandments Express, Love Suicides, Patton Interview, Music: Banger Pinocchio, Heavenly Gun, New: Frontier Cabin, Ridgemont Submarine, Sci-Fi: Daisy Menagerie, Goodfellas Salute, Soldiers Evolution, Sports: Groove Fiction, Kramer Chocolate, Star Operation, Travel: Enough Raging, Escape Metropolis, Smile Earring

============================================================

üîç Table: address
============================================================
üìä Column Structure:
  ‚Ä¢ address_id: integer (NOT NULL) DEFAULT nextval('address_address_id_seq'::regclass)
  ‚Ä¢ address: character varying (NOT NULL)
  ‚Ä¢ address2: character varying (NULL)
  ‚Ä¢ district: character varying (NOT NULL)
  ‚Ä¢ city_id: smallint (NOT NULL)
  ‚Ä¢ postal_code: character varying (NULL)
  ‚Ä¢ phone: character varying (NOT NULL)
  ‚Ä¢ last_update: timestamp without time zone (NOT NULL) DEFAULT now()

üìù Sample Data (first 5 rows):
   address_id               address address2  district  city_id postal_code        phone         last_update
0           1     47 MySakila Drive     None   Alberta      300                          2006-02-15 09:45:30
1           2    28 MySQL Boulevard     None       QLD      576                          2006-02-15 09:45:30
2           3     23 Workhaven Lane     None   Alberta      300              14033335568 2006-02-15 09:45:30
3           4  1411 Lillydale Drive     None       QLD      576               6172235589 2006-02-15 09:45:30
4           5        1913 Hanoi Way           Nagasaki      463       35200  28303384290 2006-02-15 09:45:30

============================================================

In [8]:
class SchemaContextBuilder:
    """
    Builds context about database schema for AI models to generate accurate SQL queries
    """
    def __init__(self, db_connection):
        self.db = db_connection
        self.schema_cache = {}
        self.build_full_schema_context()

    def build_full_schema_context(self):
        """Build complete schema context for all tables"""
        
        # Get all tables
        tables_query = """
        SELECT table_name, table_schema 
        FROM information_schema.tables 
        WHERE table_schema = 'public'
        ORDER BY table_name;
        """
        tables_df = self.db.execute_query(tables_query)
        if tables_df is None:
            return
        for _, row in tables_df.iterrows():
            table_name = row['table_name']
            self.schema_cache[table_name] = self.get_table_schema(table_name)

    def get_table_schema(self, table_name):
        """Get detailed schema for a specific table"""

        columns_query = f"""
        SELECT 
            column_name,
            data_type,
            is_nullable,
            column_default,
            character_maximum_length
        FROM information_schema.columns 
        WHERE table_name = '{table_name}'
        ORDER BY ordinal_position;
        """
        columns_df = self.db.execute_query(columns_query)

        if columns_df is None:
            return None
        
        # Get foreign key relationships
        fk_query = f"""
        SELECT
            kcu.column_name,
            ccu.table_name AS foreign_table_name,
            ccu.column_name AS foreign_column_name
        FROM information_schema.table_constraints AS tc
        JOIN information_schema.key_column_usage AS kcu
            ON tc.constraint_name = kcu.constraint_name
        JOIN information_schema.constraint_column_usage AS ccu
            ON ccu.constraint_name = tc.constraint_name
        WHERE tc.constraint_type = 'FOREIGN KEY'
            AND tc.table_name = '{table_name}';
        """

        fk_df = self.db.execute_query(fk_query)

        # Build schema info
        schema_info = {
            'table_name': table_name,
            'columns': [],
            'foreign_keys': []
        }

        for _, col in columns_df.iterrows():
            col_info = {
                'name': col['column_name'],
                'type': col['data_type'],
                'nullable': col['is_nullable'] == 'YES',
                'default': col['column_default'],
                'max_length': col['character_maximum_length']
            }
            schema_info['columns'].append(col_info)

        if fk_df is not None and not fk_df.empty:
            for _, fk in fk_df.iterrows():
                fk_info = {
                    'column': fk['column_name'],
                    'references_table': fk['foreign_table_name'],
                    'references_column': fk['foreign_column_name']
                }
                schema_info['foreign_keys'].append(fk_info)
        
        return schema_info
    

    def get_relevant_tables(self, query_text):
        """Identify tables that might be relevant to the query"""
        query_lower = query_text.lower()
        relevant_tables = []
        
        for table_name in self.schema_cache.keys():
            # Check if table name appears in query
            if table_name.lower() in query_lower:
                relevant_tables.append(table_name)
                continue
                
            # Check if any column names appear in query
            schema = self.schema_cache[table_name]
            if schema:
                for col in schema['columns']:
                    if col['name'].lower() in query_lower:
                        relevant_tables.append(table_name)
                        break
        
        # If no specific tables found, return first few tables
        if not relevant_tables:
            relevant_tables = list(self.schema_cache.keys())[:5]
            
        return relevant_tables
    
    def build_context_for_query(self, query_text):
        """Build focused context for a specific query"""
        relevant_tables = self.get_relevant_tables(query_text)
        
        context = f"""
DATABASE SCHEMA INFORMATION:
Database: {self.db.database}
Relevant Tables for Query: "{query_text}"

"""
        
        for table_name in relevant_tables:
            schema = self.schema_cache.get(table_name)
            if not schema:
                continue
                
            context += f"TABLE: {table_name}\n"
            context += "Columns:\n"
            
            for col in schema['columns']:
                nullable = "NULL" if col['nullable'] else "NOT NULL"
                context += f"  - {col['name']}: {col['type']} ({nullable})\n"
            
            if schema['foreign_keys']:
                context += "Foreign Keys:\n"
                for fk in schema['foreign_keys']:
                    context += f"  - {fk['column']} -> {fk['references_table']}.{fk['references_column']}\n"
            
            context += "\n"
        
        return context
    

# Initialize schema builder
if connection_success:
    schema_builder = SchemaContextBuilder(db)
    print("‚úÖ Schema context builder initialized!")
    print(f"üìä Cached schema for {len(schema_builder.schema_cache)} tables")
else:
    print("‚ùå Cannot initialize schema builder - no database connection")


    

# sc = SchemaContextBuilder(db)
# sc.get_table_schema("film")

‚úÖ Schema context builder initialized!
üìä Cached schema for 22 tables

### Agent Building Logic

In [9]:
# AI Configuration
# You'll need to set your API keys here
# Option 1: Set as environment variables
# export OPENAI_API_KEY="your-openai-key"
# export ANTHROPIC_API_KEY="your-anthropic-key"

# Option 2: Set directly in code (less secure)
# os.environ["OPENAI_API_KEY"] = "your-openai-key"
# os.environ["ANTHROPIC_API_KEY"] = "your-anthropic-key"

def get_available_models():
    """Check which AI models are available based on API keys"""
    models = {}
    
    # Check OpenAI
    if os.getenv("OPENAI_API_KEY"):
        try:
            models["openai"] = ChatOpenAI(
                model="gpt-4o-mini",  # Cost-effective but powerful
                temperature=0.1,      # Low temperature for consistent SQL generation
                max_tokens=1000
            )
            print("‚úÖ OpenAI GPT-4o-mini available")
        except Exception as e:
            print(f"‚ùå OpenAI setup failed: {str(e)}")
    
    # Check Anthropic
    if os.getenv("ANTHROPIC_API_KEY"):
        try:
            models["anthropic"] = ChatAnthropic(
                model="claude-3-haiku-20240307",  # Fast and cost-effective
                temperature=0.1,
                max_tokens=1000
            )
            print("‚úÖ Anthropic Claude available")
        except Exception as e:
            print(f"‚ùå Anthropic setup failed: {str(e)}")
    
    if not models:
        print("‚ö†Ô∏è  No AI models available. Please set your API keys.")
        print("   You can use OpenAI, Anthropic, or other compatible models.")
        print("   For this tutorial, we'll create a mock model for demonstration.")
        
        # Create a mock model for demonstration
        class MockModel:
            def invoke(self, messages):
                # Simple pattern matching for demo
                user_msg = messages[-1].content.lower()
                
                if "count" in user_msg and "table" in user_msg:
                    return type('Response', (), {'content': 'SELECT COUNT(*) FROM your_table_name;'})()
                elif "select" in user_msg or "show" in user_msg:
                    return type('Response', (), {'content': 'SELECT * FROM your_table_name LIMIT 10;'})()
                else:
                    return type('Response', (), {'content': 'SELECT * FROM your_table_name WHERE condition = value;'})()
        
        models["mock"] = MockModel()
        print("‚úÖ Mock model created for demonstration")
    
    return models

# Initialize available models
available_models = get_available_models()
print(f"\nüìä Available models: {list(available_models.keys())}")

‚úÖ OpenAI GPT-4o-mini available

üìä Available models: ['openai']

# SQL AGENT

In [10]:
class SQLAgent:
    """
    A robust SQL Agent that converts natural language queries to SQL using AI
    """
    
    def __init__(self, db_connection, schema_builder, ai_model, model_name="default"):
        self.db = db_connection
        self.schema_builder = schema_builder
        self.ai_model = ai_model
        self.model_name = model_name
        self.query_history = []

    def create_system_prompt(self):
        """Create a comprehensive system prompt for SQL generation"""
        
        system_prompt = """You are an expert PostgreSQL database analyst. Your job is to convert natural language questions into accurate, efficient SQL queries.

IMPORTANT GUIDELINES:
1. Always use proper PostgreSQL syntax
2. Use appropriate table and column names from the provided schema
3. Include proper JOINs when querying multiple tables
4. Use LIMIT clauses for exploratory queries to avoid large result sets
5. Handle NULL values appropriately
6. Use proper date/time functions for temporal queries
7. Return ONLY the SQL query, no explanations or markdown formatting
8. Make queries efficient and avoid unnecessary complexity

QUERY STRUCTURE:
- Use SELECT statements for data retrieval
- Use appropriate WHERE clauses for filtering
- Use GROUP BY and aggregation functions when needed
- Use ORDER BY for sorting results
- Use proper JOIN syntax for multi-table queries

COMMON PATTERNS:
- For counts: SELECT COUNT(*) FROM table_name WHERE condition
- For lists: SELECT column_name FROM table_name WHERE condition LIMIT 10
- For aggregations: SELECT column_name, AGG_FUNCTION(column) FROM table_name GROUP BY column_name
- For date ranges: WHERE date_column BETWEEN 'start_date' AND 'end_date'

Remember: Return only valid PostgreSQL SQL queries that can be executed directly."""

        return system_prompt
    
    def generate_sql_query(self, natural_language_query):
            
            """Convert natural language to SQL query"""
            
            try:
                # Build context for the query
                schema_context = self.schema_builder.build_context_for_query(natural_language_query)
                
                # Create messages for the AI model
                system_prompt = self.create_system_prompt()
                
                user_prompt = f"""
    {schema_context}

    Convert this natural language question to a PostgreSQL query:
    "{natural_language_query}"

    Return only the SQL query, nothing else.
    """
                
                # Prepare messages
                messages = [
                    SystemMessage(content=system_prompt),
                    HumanMessage(content=user_prompt)
                ]
                
                # Generate SQL using AI model
                response = self.ai_model.invoke(messages)
                sql_query = response.content.strip()
                
                # Clean up the response (remove markdown formatting if present)
                sql_query = self.clean_sql_response(sql_query)
                
                # Store in history
                self.query_history.append({
                    'natural_language': natural_language_query,
                    'sql_query': sql_query,
                    'timestamp': datetime.now(),
                    'model': self.model_name
                })
                
                return sql_query
            except Exception as e:
                error_msg = f"Error generating SQL: {str(e)}"
                print(f"‚ùå {error_msg}")
                return None
    
    def clean_sql_response(self, sql_response):
        """Clean up SQL response from AI model"""
        
        # Remove markdown code blocks
        sql_response = re.sub(r'```sql\n', '', sql_response)
        sql_response = re.sub(r'```\n', '', sql_response)
        sql_response = re.sub(r'```', '', sql_response)
        
        # Remove extra whitespace
        sql_response = sql_response.strip()
        
        # Ensure it ends with semicolon
        if not sql_response.endswith(';'):
            sql_response += ';'
            
        return sql_response
    

    def validate_sql_query(self, sql_query):

        """Validate SQL query syntax without executing it"""
        
        try:
            # Use EXPLAIN to validate without executing
            explain_query = f"EXPLAIN {sql_query}"
            with self.db.engine.connect() as conn:
                conn.execute(text(explain_query))
            return True, "Query is valid"
            
        except Exception as e:
            return False, f"Query validation failed: {str(e)}"
        
    def execute_query_safely(self, sql_query, max_rows=100):
        """Execute SQL query with safety limits"""
        
        try:
            # Validate first
            is_valid, validation_msg = self.validate_sql_query(sql_query)
            
            if not is_valid:
                return None, validation_msg
            
            # Add LIMIT if not present for SELECT queries
            if sql_query.upper().strip().startswith('SELECT') and 'LIMIT' not in sql_query.upper():
                sql_query = sql_query.rstrip(';') + f' LIMIT {max_rows};'
            
            # Execute query
            result_df = self.db.execute_query(sql_query)
            
            if result_df is not None:
                return result_df, f"Query executed successfully. Returned {len(result_df)} rows."
            else:
                return None, "Query execution failed"
                
        except Exception as e:
            return None, f"Execution error: {str(e)}"
    


    def query(self, natural_language_query, execute=True, max_rows=100):
        """
        Main method to convert natural language to SQL and optionally execute it
        """
        
        print(f"ü§î Question: {natural_language_query}")
        print("=" * 80)
        
        # Generate SQL
        sql_query = self.generate_sql_query(natural_language_query)
        
        if sql_query is None:
            return None, None
        
        print(f"üîß Generated SQL:")
        print(sql_query)
        print("-" * 40)
        
        if execute:
            # Execute the query
            result_df, message = self.execute_query_safely(sql_query, max_rows)
            print(f"üìä {message}")
            
            if result_df is not None and not result_df.empty:
                print("\nüìã Results:")
                print(result_df.to_string())
            
            return sql_query, result_df
        else:
            return sql_query, None

In [11]:
model_name = list(available_models.keys())[0]
selected_model = available_models[model_name]

sql_agent = SQLAgent(
        db_connection=db,
        schema_builder=schema_builder,
        ai_model=selected_model,
        model_name=model_name
    )

sql_agent.query("give me the list of Movies in which Nick worked")

ü§î Question: give me the list of Movies in which Nick worked
================================================================================
üîß Generated SQL:
SELECT film_info FROM actor_info WHERE first_name = 'Nick' LIMIT 10;
----------------------------------------
üìä Query executed successfully. Returned 3 rows.

üìã Results:
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        film_info
0                                                              Action: Bull Shawshank, Animation: Fight Jawbreaker, Children: Jersey Sassy, Classics: Dracula Crystal, Gilbert Pelican, Comedy: Mallrats United, Rushmore Mermaid, Documentary: Adaptation Holes, Drama: Wardrobe Phantom, Family: Apache Divine, Chisum Behavior, Indian Love, Maguire Apache, Foreign: Baby Hall, Happiness United, Games: Roof Champion, Music: Lucky Flying, New: Destiny Saturday, Flash Wars, Jekyll Frogmen, Mask Peach, Sci-Fi: Chainsaw Uptown, Goodfellas Salute, Travel: Liaisons Sweet, Smile Earring
1  Action: Speakeasy Date, Women Dorado, Children: Tequila Past, Tootsie Pilot, Comedy: Doom Dancing, Mulan Moon, Documentary: Beach Heartbreakers, Wagon Jaws, Drama: Virgin Daisy, Family: Braveheart Human, Effect Gladiator, Games: Monsoon Cause, Private Drop, Horror: Strangers Graffiti, Zhivago Core, New: Butterfly Chocolat, Jumanji Blade, Runaway Tenenbaums, Varsity Trip, Sports: Congeniality Quest, Flatliners Killer, Holes Brannigan, Mosquito Armageddon, Talented Homicide, Trading Pinocchio, Travel: Boiled Dares, Born Spinal, Horror Reign, Shanghai Tycoon, Teen Apollo
2                                                                                                                   Action: Ark Ridgemont, Animation: Flying Hook, Children: Betrayed Rear, Classics: Extraordinary Conquerer, Comedy: Zorro Ark, Documentary: Newsies Story, Ship Wonderland, Drama: Beauty Grease, Chitty Lock, Goldfinger Sensibility, Virgin Daisy, Family: Super Wyoming, Foreign: Pet Haunting, Games: Feathers Metal, Music: Boogie Amelie, Driving Polish, Home Pity, New: Angels Life, Mine Titans, Sci-Fi: Barbarella Streetcar, Random Go, Sports: Gleaming Jawbreaker

("SELECT film_info FROM actor_info WHERE first_name = 'Nick' LIMIT 10;",
                                            film_info
 0  Action: Bull Shawshank, Animation: Fight Jawbr...
 1  Action: Speakeasy Date, Women Dorado, Children...
 2  Action: Ark Ridgemont, Animation: Flying Hook,...)

In [13]:
class QueryAnalyzer:
    """
    Analyzes and provides insights about generated SQL queries
    """
    
    def __init__(self, db_connection):
        self.db = db_connection
    
    def analyze_query(self, sql_query):
        """Analyze a SQL query and provide insights"""
        
        analysis = {
            'query': sql_query,
            'type': self.get_query_type(sql_query),
            'complexity': self.assess_complexity(sql_query),
            'estimated_performance': None,
            'suggestions': []
        }
        
        # Get execution plan
        try:
            explain_query = f"EXPLAIN (FORMAT JSON) {sql_query}"
            with self.db.engine.connect() as conn:
                result = conn.execute(text(explain_query))
                plan = result.fetchone()[0]
                analysis['execution_plan'] = plan
                analysis['estimated_performance'] = self.extract_performance_metrics(plan)
        except Exception as e:
            analysis['execution_plan_error'] = str(e)
        
        # Generate suggestions
        analysis['suggestions'] = self.generate_suggestions(sql_query, analysis)
        
        return analysis
    
    def get_query_type(self, sql_query):
        """Determine the type of SQL query"""
        query_upper = sql_query.upper().strip()
        
        if query_upper.startswith('SELECT'):
            return 'SELECT'
        elif query_upper.startswith('INSERT'):
            return 'INSERT'
        elif query_upper.startswith('UPDATE'):
            return 'UPDATE'
        elif query_upper.startswith('DELETE'):
            return 'DELETE'
        else:
            return 'OTHER'
    
    def assess_complexity(self, sql_query):
        """Assess query complexity"""
        query_upper = sql_query.upper()
        
        complexity_score = 0
        
        # Count various SQL features
        features = {
            'JOIN': 2,
            'SUBQUERY': 3,
            'GROUP BY': 2,
            'ORDER BY': 1,
            'HAVING': 2,
            'UNION': 3,
            'CASE': 2,
            'EXISTS': 3,
            'WINDOW': 4
        }
        
        for feature, score in features.items():
            if feature in query_upper:
                complexity_score += score
        
        # Count tables
        table_count = query_upper.count('FROM') + query_upper.count('JOIN')
        complexity_score += table_count
        
        if complexity_score <= 3:
            return 'LOW'
        elif complexity_score <= 8:
            return 'MEDIUM'
        else:
            return 'HIGH'
    
    def extract_performance_metrics(self, plan):
        """Extract performance metrics from execution plan"""
        if not plan:
            return None
            
        try:
            # Extract basic metrics from the plan
            plan_data = plan[0] if isinstance(plan, list) else plan
            
            metrics = {
                'estimated_rows': plan_data.get('Plan', {}).get('Plan Rows', 0),
                'estimated_cost': plan_data.get('Plan', {}).get('Total Cost', 0),
                'estimated_time': plan_data.get('Plan', {}).get('Startup Cost', 0)
            }
            
            return metrics
        except Exception:
            return None
    
    def generate_suggestions(self, sql_query, analysis):
        """Generate optimization suggestions"""
        suggestions = []
        query_upper = sql_query.upper()
        
        # Check for missing LIMIT
        if 'SELECT' in query_upper and 'LIMIT' not in query_upper:
            suggestions.append("Consider adding LIMIT clause to prevent large result sets")
        
        # Check for SELECT *
        if 'SELECT *' in query_upper:
            suggestions.append("Consider selecting specific columns instead of using SELECT *")
        
        # Check for complex queries without indexes
        if analysis['complexity'] == 'HIGH':
            suggestions.append("This is a complex query - ensure appropriate indexes exist")
        
        # Check for potential performance issues
        if 'NOT IN' in query_upper:
            suggestions.append("Consider using NOT EXISTS instead of NOT IN for better performance")
        
        return suggestions
    
    def display_analysis(self, analysis):
        """Display query analysis in a readable format"""
        
        print("üîç SQL Query Analysis")
        print("=" * 60)
        print(f"üìù Query: {analysis['query'][:100]}...")
        print(f"üîß Type: {analysis['type']}")
        print(f"üìä Complexity: {analysis['complexity']}")
        
        if analysis.get('estimated_performance'):
            perf = analysis['estimated_performance']
            print(f"‚ö° Estimated Rows: {perf.get('estimated_rows', 'N/A')}")
            print(f"üí∞ Estimated Cost: {perf.get('estimated_cost', 'N/A')}")
        
        if analysis['suggestions']:
            print("\nüí° Suggestions:")
            for i, suggestion in enumerate(analysis['suggestions'], 1):
                print(f"  {i}. {suggestion}")
        
        print("=" * 60)

# Initialize query analyzer
if connection_success:
    query_analyzer = QueryAnalyzer(db)
    print("‚úÖ Query Analyzer initialized!")
else:
    print("‚ùå Cannot initialize Query Analyzer - no database connection")

‚úÖ Query Analyzer initialized!

In [15]:
analyser = QueryAnalyzer(db_connection=db)

analyser.analyze_query("SELECT film_info FROM actor_info WHERE first_name = 'Nick' LIMIT 10;")

{'query': "SELECT film_info FROM actor_info WHERE first_name = 'Nick' LIMIT 10;",
 'type': 'SELECT',
 'complexity': 'LOW',
 'estimated_performance': {'estimated_rows': 3,
  'estimated_cost': 2613.44,
  'estimated_time': 0.7},
 'suggestions': [],
 'execution_plan': [{'Plan': {'Node Type': 'Limit',
    'Parallel Aware': False,
    'Async Capable': False,
    'Startup Cost': 0.7,
    'Total Cost': 2613.44,
    'Plan Rows': 3,
    'Plan Width': 32,
    'Plans': [{'Node Type': 'Subquery Scan',
      'Parent Relationship': 'Outer',
      'Parallel Aware': False,
      'Async Capable': False,
      'Alias': 'actor_info',
      'Startup Cost': 0.7,
      'Total Cost': 2613.44,
      'Plan Rows': 3,
      'Plan Width': 32,
      'Plans': [{'Node Type': 'Aggregate',
        'Strategy': 'Sorted',
        'Partial Mode': 'Simple',
        'Parent Relationship': 'Subquery',
        'Parallel Aware': False,
        'Async Capable': False,
        'Startup Cost': 0.7,
        'Total Cost': 2613.41,
        'Plan Rows': 3,
        'Plan Width': 49,
        'Group Key': ['a.actor_id'],
        'Plans': [{'Node Type': 'Nested Loop',
          'Parent Relationship': 'Outer',
          'Parallel Aware': False,
          'Async Capable': False,
          'Join Type': 'Left',
          'Startup Cost': 0.7,
          'Total Cost': 76.71,
          'Plan Rows': 82,
          'Plan Width': 89,
          'Inner Unique': True,
          'Join Filter': '(fc.category_id = c.category_id)',
          'Plans': [{'Node Type': 'Nested Loop',
            'Parent Relationship': 'Outer',
            'Parallel Aware': False,
            'Async Capable': False,
            'Join Type': 'Left',
            'Startup Cost': 0.7,
            'Total Cost': 56.89,
            'Plan Rows': 82,
            'Plan Width': 19,
            'Inner Unique': False,
            'Plans': [{'Node Type': 'Index Scan',
              'Parent Relationship': 'Outer',
              'Parallel Aware': False,
              'Async Capable': False,
              'Scan Direction': 'Forward',
              'Index Name': 'actor_pkey',
              'Relation Name': 'actor',
              'Alias': 'a',
              'Startup Cost': 0.14,
              'Total Cost': 16.66,
              'Plan Rows': 3,
              'Plan Width': 17,
              'Filter': "((first_name)::text = 'Nick'::text)"},
             {'Node Type': 'Nested Loop',
              'Parent Relationship': 'Inner',
              'Parallel Aware': False,
              'Async Capable': False,
              'Join Type': 'Left',
              'Startup Cost': 0.56,
              'Total Cost': 13.14,
              'Plan Rows': 27,
              'Plan Width': 4,
              'Inner Unique': False,
              'Plans': [{'Node Type': 'Index Only Scan',
                'Parent Relationship': 'Outer',
                'Parallel Aware': False,
                'Async Capable': False,
                'Scan Direction': 'Forward',
                'Index Name': 'film_actor_pkey',
                'Relation Name': 'film_actor',
                'Alias': 'fa',
                'Startup Cost': 0.28,
                'Total Cost': 4.75,
                'Plan Rows': 27,
                'Plan Width': 4,
                'Index Cond': '(actor_id = a.actor_id)'},
               {'Node Type': 'Index Only Scan',
                'Parent Relationship': 'Inner',
                'Parallel Aware': False,
                'Async Capable': False,
                'Scan Direction': 'Forward',
                'Index Name': 'film_category_pkey',
                'Relation Name': 'film_category',
                'Alias': 'fc',
                'Startup Cost': 0.28,
                'Total Cost': 0.3,
                'Plan Rows': 1,
                'Plan Width': 4,
                'Index Cond': '(film_id = fa.film_id)'}]}]},
           {'Node Type': 'Materialize',
            'Parent Relationship': 'Inner',
            'Parallel Aware': False,
            'Async Capable': False,
            'Startup Cost': 0.0,
            'Total Cost': 1.24,
            'Plan Rows': 16,
            'Plan Width': 72,
            'Plans': [{'Node Type': 'Seq Scan',
              'Parent Relationship': 'Outer',
              'Parallel Aware': False,
              'Async Capable': False,
              'Relation Name': 'category',
              'Alias': 'c',
              'Startup Cost': 0.0,
              'Total Cost': 1.16,
              'Plan Rows': 16,
              'Plan Width': 72}]}]},
         {'Node Type': 'Aggregate',
          'Strategy': 'Sorted',
          'Partial Mode': 'Simple',
          'Parent Relationship': 'SubPlan',
          'Subplan Name': 'SubPlan 1',
          'Parallel Aware': False,
          'Async Capable': False,
          'Startup Cost': 5.37,
          'Total Cost': 30.68,
          'Plan Rows': 2,
          'Plan Width': 34,
          'Group Key': ['fa_1.actor_id'],
          'Plans': [{'Node Type': 'Nested Loop',
            'Parent Relationship': 'Outer',
            'Parallel Aware': False,
            'Async Capable': False,
            'Join Type': 'Inner',
            'Startup Cost': 5.37,
            'Total Cost': 30.15,
            'Plan Rows': 2,
            'Plan Width': 17,
            'Inner Unique': True,
            'Plans': [{'Node Type': 'Hash Join',
              'Parent Relationship': 'Outer',
              'Parallel Aware': False,
              'Async Capable': False,
              'Join Type': 'Inner',
              'Startup Cost': 5.09,
              'Total Cost': 23.76,
              'Plan Rows': 2,
              'Plan Width': 6,
              'Inner Unique': True,
              'Hash Cond': '(fc_1.film_id = fa_1.film_id)',
              'Plans': [{'Node Type': 'Seq Scan',
                'Parent Relationship': 'Outer',
                'Parallel Aware': False,
                'Async Capable': False,
                'Relation Name': 'film_category',
                'Alias': 'fc_1',
                'Startup Cost': 0.0,
                'Total Cost': 18.5,
                'Plan Rows': 62,
                'Plan Width': 2,
                'Filter': '(category_id = c.category_id)'},
               {'Node Type': 'Hash',
                'Parent Relationship': 'Inner',
                'Parallel Aware': False,
                'Async Capable': False,
                'Startup Cost': 4.75,
                'Total Cost': 4.75,
                'Plan Rows': 27,
                'Plan Width': 4,
                'Plans': [{'Node Type': 'Index Only Scan',
                  'Parent Relationship': 'Outer',
                  'Parallel Aware': False,
                  'Async Capable': False,
                  'Scan Direction': 'Forward',
                  'Index Name': 'film_actor_pkey',
                  'Relation Name': 'film_actor',
                  'Alias': 'fa_1',
                  'Startup Cost': 0.28,
                  'Total Cost': 4.75,
                  'Plan Rows': 27,
                  'Plan Width': 4,
                  'Index Cond': '(actor_id = a.actor_id)'}]}]},
             {'Node Type': 'Index Scan',
              'Parent Relationship': 'Inner',
              'Parallel Aware': False,
              'Async Capable': False,
              'Scan Direction': 'Forward',
              'Index Name': 'film_pkey',
              'Relation Name': 'film',
              'Alias': 'f',
              'Startup Cost': 0.28,
              'Total Cost': 3.2,
              'Plan Rows': 1,
              'Plan Width': 19,
              'Index Cond': '(film_id = fc_1.film_id)'}]}]}]}]}]}}]}